<mat-card>
    <mat-card-header>
        <mat-card-title>
            Today's article
            <a [routerLink]="['/create']" routerLinkActive="router-link-active">New</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let article of articles, index as i">
                <div mat-line><a [title]="article.title" [routerLink]="['/details/', article.id]">{{ article.title }}</a></div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>