<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Today's article
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let article of articles">
          <div mat-line><a href="{{article.url}}" target="_blank">{{article.title}}</a></div>
        </mat-list-item>
      </mat-list>
      <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label for="title">Title</mat-label>
          <textarea matInput rows="5" id="title" formControlName="title"
                    placeholder="Enter a title"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label for="url">URL</mat-label>
          <textarea matInput rows="5" id="url" formControlName="url" placeholder="Enter a URL"></textarea>
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary" type="submit">Add</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</section>
